<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="menu">
  <div class="toggl-logo"><i class="fas fa-power-off"></i><a class="toggl-btn" href="/"><b>toggl</b></a></div>
  <div class="navigation">
    <li><a routerLink="/">Features</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/signup">Signup</a></li>
  </div>
</div>

