<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="page-wrapper">

  <div class="up-nav">
    <div class="menu">
    <app-header></app-header>
    </div>
  </div>
  <div class="down-nav">
   <div class="login">
     <div class="row">
         <form (ngSubmit)="onLogin(f)" #f="ngForm">
           <div class="form-group">
             <div class="flexFont"><b>EMAIL ADDRESS</b></div>
             <div><input type="email" id="email" name="email" ngModel class="form-control" placeholder="&#61664;"></div>
           </div>
           <div class="form-group">
             <div class="flexFont"><b>PASSWORD</b></div>
             <div><input type="password" id="password" name="password" ngModel class="form-control" placeholder="&#61550;"></div>
           </div>
           <div class="Button">
             <button class="btn btn-primary" type="submit">Login</button>
           </div>
         </form>
     </div>
   </div>
  </div>
</div>
