.page-wrapper{
  display: flex;
  justify-content: space-between;
}

.left-nav{
  display: flex;
  height: 675px;
  width: 185px;
  background: #323232;
}

.right-pane {
  display: flex;
  height: 675px;
  width: 1181px;
  background: lightgray;
}

.react-viewport-container {
  display: flex;
  flex-direction: column;
}

.timer-front {
  display: flex;
  height: 66px;
  width: 1181px;
  background-color: white;
}

.timer-left {
  display: flex;
  height: 66px;
  width: 1153px;
  background-color: white;
  justify-content: space-between;
}

.timer-right {
  display: flex;
  height: 66px;
  width: 28px;
  background-color: white;
}


.timer-bottom {
  display: flex;
  height: 609px;
  width: 1181px;
  background-color: #fafbfc;
  flex-direction: column;
  overflow: auto;
}

.form-text {
  width: 856px;
  height: 66px;
  padding-top: 10px;
}

.form-text-2 {
  width: 670.5px;
  height: 66px;
  padding-top: 12px;
}

.datetimerange-container {
  width: 95px;
  height: 66px;
  padding-top: 12px;
}

.datetimerange-container-2 {
  width: 128px;
  height: 66px;
  padding-top: 12px;
}

.datetimerange-container-3 {
  width: 85px;
  height: 66px;
  padding-top: 12px;
}

.arrow {
  padding-top: 20px;
  color: lightgray;
}

.input2_1 {
  width: 128px;
  height: 36px;
}
.input2_2 {
  width: 80px;
  height: 36px;
}

.timerstartstop-button {
  display: flex;
}

.start-btn,
.manual-btn{
  color: #4bc800;
  width: 42px;
  height: 42px;
  font-size: 42px;
}

.stop-btn {
  color: #e20505;
  width: 42px;
  height: 42px;
  font-size: 42px;
}

.tags-btn {
  color: lightgray;
  width: 32px;
  height: 32px;
  font-size:22px;
}

.tags {
  padding-top: 12px;
  color: #b4b5b5;
}

.timer_mode-btn{
  color: #4bc800;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.timer_mode-btn-2{
  color: lightgray;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.timer_mode-btn-2:hover{
  color: #4bc800;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.manual_mode-btn{
  color: lightgray;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.manual_mode-btn-2{
  color: #4bc800;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.manual_mode-btn:hover{
  color: #4bc800;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

input {
  border: none;
  outline: none !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 18px;
}

input:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.projects-list-container,
.projects-time-container {
  display: flex;
  background-color: white;
  width: 1181px;
  height: 50px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #f3f3f3;

  input {
    padding-bottom: 20px;
  }
}

.time-task {
  padding-top: 12px;
  padding-left: 20px;
}

.projects-list-container:hover  {
  background-color: #fafbfc;
  .play-btn,
  .ellipsis,
  .tags-mini{
    color: #b4b5b5;
  }
  .play-btn:hover,
  .ellipsis:hover{
    color: #6f6f6f;
  }
  input {
    padding-bottom: 20px;
    background-color: #fafbfc;
    //background-color: white;
    height: 38px;
  }
}

.chart-selector-wrapper {
  background-color: #fafbfc;
  width: 1181px;
  height: 100px;
  border-style: solid none none none;
  border-width: 1px;
  border-color: #f3f3f3;
}
.today-btn {
  padding-left: 20px;
  font-size: 12px;
  color: #7b7b7b;
}

.task {
  padding-left: 20px;
  padding-top: 12px;
}
.tags-mini {
  padding-top: 12px;
  margin-left: auto;
  padding-left: 620px;
  color: white;
}

.date{
  display: flex;
  color: #7b7b7b;
  margin-left: auto;
  padding-top: 12px;
  width: 200px;
}

.time {
  margin-left: auto;
  padding-right: 90px;
  padding-top: 12px;
}

.play-btn {
  padding-top: 12px;
  padding-right: 25px;
  color: white;
}

.play-btn:hover {
  color: gray;
}

.ellipsis {
  padding-top: 12px;
  padding-right: 15px;
  color: white;
}
