.page-wrapper{
  display: flex;
  justify-content: space-between;
}

.left-nav{
  display: flex;
  height: 675px;
  width: 185px;
  background: #323232;
}

.right-pane {
  display: flex;
  height: 675px;
  width: 1181px;
  background: lightgray;
}

.react-viewport-container {
  display: flex;
  flex-direction: column;
}

.timer-front {
  display: flex;
  height: 66px;
  width: 1181px;
  background-color: white;
}

.timer-left {
  display: flex;
  height: 66px;
  width: 1153px;
  background-color: white;
  justify-content: space-between;
}

.timer-right {
  display: flex;
  height: 66px;
  width: 28px;
  background-color: white;
}


.timer-bottom {
  display: flex;
  height: 609px;
  width: 1181px;
  background-color: #fafbfc;
  flex-direction: column;
  overflow: auto;
}

.form-text {
  width: 856px;
  height: 66px;
  padding-top: 10px;
}

.form-text-2 {
  width: 670.5px;
  height: 66px;
  padding-top: 12px;
}

.datetimerange-container {
  width: 95px;
  height: 66px;
  padding-top: 12px;
}

.datetimerange-container-2 {
  width: 253px;
  height: 66px;
  padding-top: 12px;
}

.timerstartstop-button {
  display: flex;
}

.start-btn,
.manual-btn{
  color: #4bc800;
  width: 42px;
  height: 42px;
  font-size: 42px;
}

.stop-btn {
  color: #e20505;
  width: 42px;
  height: 42px;
  font-size: 42px;
}

.tags-btn {
  color: gray;
  width: 32px;
  height: 32px;
  font-size:22px;
}

.tags {
  padding-top: 12px;
}

.timer_mode-btn{
  color: #4bc800;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.timer_mode-btn:hover{
  color: lightgray;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.manual_mode-btn{
  color: lightgray;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

.manual_mode-btn:hover{
  color: #4bc800;
  width: 28px;
  height: 28px;
  font-size: 18px;
  transition: .40s;
  -webkit-transition: .40s;
}

input {
  border: none;
  outline: none !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 18px;
}

input:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.projects-list-container {
  display: flex;
  background-color: white;
  width: 1181px;
  height: 50px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #f3f3f3;
}
.chart-selector-wrapper {
  background-color: #fafbfc;
  width: 1181px;
  height: 100px;
  border-style: solid none none none;
  border-width: 1px;
  border-color: #f3f3f3;
}
.today-btn {
  padding-left: 20px;
  font-size: 12px;
}

.task {
  padding-left: 20px;
  padding-top: 12px;
}

.time {
  margin-left: auto;
  padding-right: 90px;
  padding-top: 12px;
}

