.react-viewport-container {
  display: flex;
  flex-direction: column;
}

.manage-area{
  color: darkgray;
  font-size: 80%;
}

.toggl-logo{
  color: red;
}

#toggl-btn {
  border: 2px solid #323232;
  color: lightgray;
  transition: .40s;
  -webkit-transition: .40s;
  text-decoration: none;
}

#timer-btn,
#dashboard-btn,
#reports-btn,
#insights-btn,
#savedreports-btn,
#projects-btn,
#clients-btn,
#team-btn,
#workspaces-btn,
#tags-btn,
#help-btn {
  border: 2px solid #323232;
  color: lightgray;
  transition: .40s;
  -webkit-transition: .40s;

}

#timer-btn:hover,
#dashboard-btn:hover,
#reports-btn:hover,
#insights-btn:hover,
#savedreports-btn:hover,
#projects-btn:hover,
#clients-btn:hover,
#team-btn:hover,
#workspaces-btn:hover,
#tags-btn:hover,
#help-btn:hover {
  background: #323232;
  color: white;
  transition: .40s;
  -webkit-transition: .40s;
  text-decoration: none;
}


