<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="react-viewport-container">

  <div class="toggl-logo"><i class="fas fa-power-off"></i><a class="toggl-btn" href="/app"><b>toggl</b></a></div>
  <p></p>
  <a class="timer-btn" href="/app/timer"><i class="fa fa-clock"></i>   Timer</a>
  <a class="dashboard-btn" href="/app/dashboard"><i class="fas fa-chart-bar"></i>   Dashboard</a>
  <a class="reports-btn" href="#"><i class="fas fa-file-alt"></i>   Reports</a>
  <a class="insights-btn" href="#"><i class="fas fa-chart-line"></i>   Insights</a>
  <a class="savedreports-btn" href="#"><i class="fas fa-star"></i>   Saved Reports</a>
  <div class="manage-area">
    <p></p>
    MANAGE
  </div>
  <a class="projects-btn" href="/app/projects"><i class="fas fa-folder-open"></i>   Projects</a>
  <a class="clients-btn" href="#"><i class="fas fa-id-badge"></i>   Clients</a>
  <a class="team-btn" href="#"><i class="fas fa-user-friends"></i>   Team</a>
  <a class="workspaces-btn" href="#"><i class="fas fa-briefcase"></i>   Workspaces</a>
  <a class="tags-btn" href="#"><i class="fas fa-tag"></i>   Tags</a>
  <a class="help-btn" href="/app/help"><i class="fas fa-question-circle"></i>   Help</a>

</div>
