.page-wrapper{
  display: flex;
  justify-content: space-between;
}

.left-nav{
  display: flex;
  height: 675px;
  width: 185px;
  background: #323232;
}

.right-pane {
  display: flex;
  height: 675px;
  width: 1181px;
  background: lightgray;
}

.react-viewport-container {
  display: flex;
  flex-direction: column;

}

.projects-container {
  display: flex;
  height: 66px;
  width: 50em;
  background-color: darkgray;
}
