.page-wrapper{
  display: flex;
  justify-content: space-between;
}

.left-nav{
  display: flex;
  height: 800px;
  width: 300px;
  background: #323232;
}

.right-pane {
  display: flex;
  height: 800px;
  width: 1180px;
  background: lightgray;
}

.react-viewport-container {
  display: flex;
  flex-direction: column;
}


.projects-container {
  display: flex;
  height: 66px;
  width: 50em;
  background-color: darkgray;
}
